.container{
	
	margin: 0px;
    margin-left: -113px;
    margin-top: -19px;
    padding: 0px;
    width: 1366px;
	height: 1000px;
    background-image: url(http://i.imgur.com/ecnzUT6.jpg);
	
	color: white;
}